// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$site-body: #6b6d6f;
$site-header: #323336;
$site-link: $site-header;
$soft-link: #a3a6a8;
$footer-bg: #303036;
$mid-grey: #E2E2E3;
$site-yellow: #ffea00;

// http://preview.themeforest.net/item/elementy-multipurpose-one-multi-page-template/full_screen_preview/16194140?_ga=2.260932047.31062588.1524338555-2019006855.1524338555